.categoryCard {
  width: 18rem;
  height: 6rem;
  margin-bottom: 15px;
  border: none;
  background-image: linear-gradient(
    to right,
    #a0d2bf 0%,
    #107687 51%,
    #a0d2bf 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  color: rgb(33, 41, 40);
  cursor: pointer;
}
.categoryCard:hover {
  background-position: right center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
}
.categoryCard:active {
  box-shadow: none;
}
