img {
  margin: 10px 10px;
  /* border-radius: 10px; */
}
.wrapper {
  position: relative;
  width: 370px;
  height: 270px;
  float: left;
  margin-right: 10px;
}
.wrapper div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.wrapper:hover {
  cursor: pointer;
}
.wrapper:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}
